<nav class="navigation">
    <div class="navigation__left">
        {% if page.company and page.username %}
            <a href="/{{ page.username }}">‹ Back</a>
        {% elsif page.company  %}
            <a href="/">‹ Back</a>
        {% endif %}
    </div>
    <h1 class="navigation__center">
        {% if page.company %}{{ site.data.companies[page.company].name }}{% endif %}
        Invites codes 
        {% if page.username %}of {{ page.username }}{% endif %}
    </h1>
    <div class="navigation__right"></div>
</nav>