// Variables

$container-width: 1200px;
$container-padding: 30px;

$primary-color: #ed145b;
$secondary-color: darken($primary-color, 5%);
$text-color: #333;
$link-color: #7F7F7F;
$border-color: lighten($link-color, 40);
$navbar-link-color:  #4691f6;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: $system-font-family;



// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f8fafa;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: $primary-color;
  }
}

.text-center {
  text-align: center;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;

  &--s {
    width: 1.1em;
    height: 1.1em;
  }
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $navbar-link-color;
}

.svg-icon circle {
  stroke: $navbar-link-color;
  stroke-width: 1;
}


.navigation {
  background-color: #fff;
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 18px;
  border-bottom: 1px solid $border-color;

  &__right {
    text-align: right;   
  }

  &__left a {
    display: flex;
  }

  a {
    color: $navbar-link-color;
    font-size: 16px !important;
    font-weight: 400;

    &:hover {
      color: darken($navbar-link-color, 10%);
    }
  }

  &__center {
    text-align: center;
  }

  h1 {
    font-size: 18px;
    margin: 0;
  }
}


.list {

  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $border-color;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.company {
  display: grid;
  grid-template-columns: 50px 1fr 10px;
  grid-column-gap: 16px;
  padding: 16px;
  background: #fff;
  border-top: 1px solid $border-color;
  align-items: center;

  &:hover {
    background-color: #f8fafa;
  }

  h2 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  &__logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  &__icon {
    max-height: 25px;
    max-width: 25px;
    height: 100%;
  }

  &__action {
    font-size: 32px;
  }
}

.section {

  padding: 16px;
  background: #fff;
  border-top: 1px solid $border-color;

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    color: $link-color;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 32px;
  }

  &__content--last {
    border-bottom: 1px solid $border-color;
    color: $link-color;
  }

  &__code {
    color: $text-color;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 16px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    .copy-btn {
      margin-left: 16px;
    }
  }
}

.btn {
  background-color: $primary-color;
  display: inline-block;
  padding: 16px 0;
  color: #fff !important;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid darken($primary-color, 5%);

  &:hover {
    background-color: darken($primary-color, 3%);
  }

}

.copy-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;

  img {
    max-height: 16px;
    max-width: 16px;
  }
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:active .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  font-size: 16px;
  margin-top: 60px;
}

.header {
  background-color: $secondary-color;
  color: #fff;
  font-weight: 700;
  padding: 16px 16px;
  margin-top: -2px;

  &__image {
    width: 50px;
    height: 50px;
    float:left;
    padding-right: 16px;
  }
}

@media only screen and (min-width:960px) {

  .header {
    max-width: 960px;
    margin: auto;
    margin-top: 32px;
    border-radius: 3px;
  }

  .section__title {
    max-width: 960px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 11px;
  }
  
  .list {
    max-width: 990px;
    margin: auto;
    border-radius: 3px;   
    border: 1px solid $border-color;
    border-top: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .section-group {
    max-width: 990px;
    margin: auto;
    border-radius: 3px;   
    border: 1px solid $border-color;
    border-top: 0px;
    border-bottom: 0;
  }

  .section__about {
    max-width: 960px;
    margin: auto;
    border: 1px solid $border-color;
    border-radius: 3px;   
  }

  .btn {
    max-width: 990px;
  }

}
