---
layout: default
---

<div class="list">
    <ul>
        {% for company in site.data.companies.all %}
        <li>
            <a class="company" href="{{ site.data.companies[company].link }}">
                <div class="company__logo">
                    (L)
                </div>
                <div class="company__info">
                    <h2>{{ site.data.companies[company].name }}</h2>
                    <p>{{ site.data.companies[company].title }}</p>
                </div>
                <div class="company__action">
                    ›
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
